.lista-opciones label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
    margin-bottom: 8px;
}

.lista-opciones select{
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px 0px #0000000F;
    border: none;
    padding: 30px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    outline-color:#6278F7 ;
    margin-bottom: 20px;
}